<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Enni Sya'nia - Aspiring Software Engineer Portfolio">
    <title>Enni Sya'nia | Aspiring Software Engineer</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link rel="icon" href="../images/Logo.png" type="image/png">
</head>

<body class="background-design">
    <header>
        <div class="logo">
            <img src="../images/Logo.png" alt="EN">
        </div>
        <nav style="font-weight: bold;">
            <a href="../index.html">Home</a>
            <a href="about.html">About</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <main>
        <section class="main-design-section">
            <video controls width="600">
                <source src="../images/Album sort Mobile app demo.mp4" type="video/mp4" class="project-image">
            </video>    
            <h2 id="description" class="description-title">Album Search Mobile App</h2>
            <p>This is a mobile sorting app that sorts by different variables using user input. </p>
        </section>

        <div class="divider"></div>

        <section class="project">
            <!-- Description -->
            <div class="description">
                <p>Time Taken: 2hr | Tools Used: ReactJS</p>
                <br>

                <p>The video above showcases a simple search app that organizes album 
                    releases based on title, artist, or genre. The app ensures that user 
                    input matches regardless of capitalization, making it more intuitive 
                    and user-friendly. I also designed the app's aesthetics using CSS, giving 
                    it a more polished and visually appealing look compared to basic HTML styling.
                </p>
                <br>
                <p>
                    This project was developed using ReactJS, a powerful library for building 
                    websites and apps. To ensure a seamless mobile experience, I used a virtual 
                    mobile device during development to test how the app would look and function 
                    on smaller screens, guaranteeing usability. Additionally, this was my first 
                    time connecting a mobile app to an existing online database, which was a rewarding 
                    learning experience and a valuable skill to acquire.
                </p>
                <br>
                <p>
                    Through this project, I learned the importance of optimizing user experience on mobile devices 
                   and gained a deeper understanding of database integration. It also improved my 
                   problem-solving skills as I debugged and ensured the app's functionality matched 
                   user expectations. This experience has strengthened my confidence in using ReactJS 
                   and laid the foundation for future projects involving dynamic and responsive web 
                   applications.

                </p>
            </div>
        </section>

    

        <footer>
            <div class="footer-container">
                <a href="contact.html" class="contact-btn">Contact Me</a>
                <br>
                <p class="copyright">Copyright © Enni Sya'nia 2024</p>
            </div>
        </footer>
    </main>

    <script src="/scripts.js"></script>
</body>

</html>