<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Enni Sya'nia - Aspiring Software Engineer Portfolio">
    <title>Enni Sya'nia | Aspiring Software Engineer</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link rel="icon" href="../images/Logo.png" type="image/png">
</head>

<body class="background-design">
    <header>
        <div class="logo">
            <img src="../images/Logo.png" alt="EN">
        </div>
        <nav style="font-weight: bold;">
            <a href="../index.html">Home</a>
            <a href="about.html">About</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <main>

        <div class="divider"></div>

        <section class="project">
            <div>
                <img src="../images/City in Nature Green Plan.png" alt="Project Image 1" class="project-image"
                    style="height: 300px;">
                <br>
                <img src="../images/CINStructure.jpg" alt="Project Image 2" class="project-image" style="height: 300px;">
                <br>
                <img src="../images/flowerSketch.jpg" alt="Project Image 2" class="project-image" style="height: 300px;">
                <br>
                <img src="../images/buildingRef.jpg" alt="Project Image 2" class="project-image" style="height: 300px;">
            </div>
            <!-- Description -->
            <div class="description">
                <h2>City In Nature</h2>
                <br>
                <p>

                    In this project, I was tasked with making an EDM for one
                    of the Singapore Green Plan pillars.
                </p>
                <br>
                <p>
                    In this EDM,
                    I utilized the design rule of emphasis to capture the
                    viewer's attention with the bright yellow flower. This
                    was entirely done using Illustrator.
                    From this project, I have learned the importance of
                    colour schemes, as it was quite difficult for me to
                    choose colours that blended well together and did not
                    disrupt readability.
                </p>
                <br>
                <p>
                    I also took reference pictures of buildings in my town 
                    and sketched the flower by tracing over it to simplify 
                    the process.
                </p>
                <br>
                <p>
                    From this project, I have learned the importance of
                    colour schemes, as it was quite difficult for me to
                    choose colours that blended well together and did not
                    disrupt readability.
                </p>
            </div>
        </section>
        <div class="divider"></div>



        <footer>
            <div class="footer-container">
                <a href="contact.html" class="contact-btn">Contact Me</a>
                <br>
                <p class="copyright">Copyright © Enni Sya'nia 2024</p>
            </div>
        </footer>
    </main>

    <script src="/scripts.js"></script>
</body>

</html>