<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Enni Sya'nia - Aspiring Software Engineer Portfolio">
    <title>Enni Sya'nia | Aspiring Software Engineer</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">

    <link rel="icon" href="../images/Logo.png" type="image/png">
</head>

<body class="background-programming">
    <header>
        <div class="logo">
            <img src="../images/Logo.png" alt="EN">
        </div>
        <nav style="font-weight: bold;">
            <a href="../index.html">Home</a>
            <a href="about.html">About</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <section class="hero">
        <a href="#project-section" class="general-btn">Programming</a>
        <p style="width: 800px; text-align: center;">Projects that I have worked on that display my skills in programming. Each project
            demonstrates my technical expertise and ability to solve complex problems.</p>
    </section>
    <div class="divider"></div>

        <section class="project"  id="project-section">
            <video controls width="600">
                <source src="../images/1108.mp4" type="video/mp4" class="project-image">
            </video>    
                <div class="description">
            <h2>Movie Review App</h2>
            <p>This is a Movie Reviews app that I created where users are able to 
                write reviews and add new movies into a database.
            </p>
            <a href="movieReviewApp.html" class="general-btn">Learn More</a>
            </div>
        </section>

        <div class="divider"></div>

        <section class="project">
            <div class="description">
                <h2>Album Sorting Mobile App</h2>
                <p>This is a mobile sorting app that sorts by different variables using user input.</p>
                <a href="albumSortApp.html" class="general-btn">Learn More</a>
            </div>
            <img src="../images/Album Sort Mobile app demo.png" alt="Project Image" class="about-image" >
        </section>

        <div class="divider"></div>

        <section class="project">
            <video controls width="600">
                <source src="../images/Pokemon app demo.mp4" type="video/mp4" class="project-image">
            </video> 
            <div class="description">
                <h2>Pokemon Card Sorting Mobile App</h2>
                <p>This is a mutable mobile database app that stores Pokemon cards with their image and information. </p>
                <a href="PokemonCards.html" class="general-btn">Learn More</a>
            </div>
        </section>

        <div class="divider"></div>

        <section class="project">
            <div class="description">
                <h2>Travel List Website</h2>
                <p>This is a travel list website that help keeps track of items to pack for a trip.</p>
                <a href="TravelList.html" class="general-btn">Learn More</a>
            </div>
            <video controls width="600">
                <source src="../images/travel list app.mkv" type="video/mp4" class="project-image">
            </video> 
        </section>
    </div>

    <footer>
        <div class="footer-container">
            <a href="contact.html" class="contact-btn">Contact Me</a>
            <br>
            <p class="copyright">Copyright © Enni Sya'nia 2024</p>
        </div>
    </footer>
    <script src="/scripts.js"></script>
</body>

</html>