<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/images/Logo.png" type="image/png">
</head>

<body class="background-programming">
    <%- include ('partials/navbar.ejs') %>

        <div class="hero">
            <a href="#project-section" class="general-btn">Programming</a>
        </div>

        <div class="project-section" id="project-section">
            <div class="project">
                <img src="/images/holdingImage.jpg" alt="Project Image" class="project-image">
                <div class="description">
                    <h2>Description</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                </div>
            </div>
            <div class="project">
                <div class="description">
                    <h2>Description</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                </div>
                <img src="/images/holdingImage.jpg" alt="Project Image" class="project-image">
            
            </div>
            <div class="project">
                <img src="/images/holdingImage.jpg" alt="Project Image" class="project-image">
                <div class="description">
                    <h2>Description</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                </div>
            </div>
            <div class="project">
                <div class="description">
                    <h2>Description</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                </div>
                <img src="/images/holdingImage.jpg" alt="Project Image" class="project-image">
                
            </div>
        </div>

        <footer>
            <a href="/contact" class="contact-btn">Contact Me</a>
        </footer>
</body>

</html>