<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Enni Sya'nia - Aspiring Software Engineer Portfolio">
    <title>Enni Sya'nia | Aspiring Software Engineer</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link rel="icon" href="../images/Logo.png" type="image/png">
</head>

<body class="background-design">
    <header>
        <div class="logo">
            <img src="../images/Logo.png" alt="EN">
        </div>
        <nav style="font-weight: bold;">
            <a href="../index.html">Home</a>
            <a href="about.html">About</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <main>

        <div class="divider"></div>

        <section class="project">
            <div>
                <img src="../images/Goob Colour scheme.png" alt="Project Image 1" class="project-image" >
                <br>
                <img src="../images/Goob Music App Design.png" alt="Project Image 2" class="project-image" >
                <br>
                <img src="../images/Goob mutable components.png" alt="Project Image 1" class="project-image" >
                <br>
            </div>
            <!-- Description -->
            <div class="description">
                <h2>Goob Music App Design</h2>
                <br>
                <p>Time Taken: 3.5hr | Tools Used: Figma</p>
                <br>
                <a href="https://www.figma.com/design/J37N8ChVb7ihPIyLmuZkXj/Goob-High-fidelity-Wireframe?node-id=0-1&t=LMHqRCBQhFPg0K2E-1"
                 class="general-btn">Link to Figma Workspace</a>
                <br>
                <br>
                <p>
                    This project showcases Goob, a music app design I created using 
                    Figma to demonstrate my UI/UX design skills. The app features a 
                    sleek black base color, with red and 
                    green accents to highlight key interactive elements and actions.
                </p>
                <br>
                <p>
                    Through this project, I learned how to use Figma to create 
                    visually appealing and functional designs. It also taught me
                     how to apply color effectively 
                    to emphasize important elements and enhance the user experience.
                </p>
                <br>
                <p>
                    This project taught me how to use color to emphasize
                    what needs emphasis and the importance of layout to
                    ensure readability.
                </p>
            </div>
        </section>
        <div class="divider"></div>



        <footer>
            <div class="footer-container">
                <a href="contact.html" class="contact-btn">Contact Me</a>
                <br>
                <p class="copyright">Copyright © Enni Sya'nia 2024</p>
            </div>
        </footer>
    </main>

    <script src="/scripts.js"></script>
</body>

</html>