<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Enni Sya'nia - Aspiring Software Engineer Portfolio">
    <title>Enni Sya'nia | Aspiring Software Engineer</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link rel="icon" href="../images/Logo.png" type="image/png">
</head>

<body class="background-design">
    <header>
        <div class="logo">
            <img src="../images/Logo.png" alt="EN">
        </div>
        <nav style="font-weight: bold;">
            <a href="../index.html">Home</a>
            <a href="about.html">About</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <main>
        <section class="main-design-section">
            <video controls width="600">
                <source src="../images/1108.mp4" type="video/mp4" class="project-image">
            </video>    
            <h2 id="description" class="description-title">Description</h2>
            <p>This is a basic Movie Reviews app that I created where users are able to 
                write reviews and add new movies into a database.</p>
        </section>

        <div class="divider"></div>

        <section class="project">
            <div>
                <img src="../images/movieAppStructure.png" alt="projectStructure" class="project-image" style="height:500;">
                <br>
                <img src="../images/movieData.png" alt="movieData" class="project-image" style="height: 300px;">
                <br>
                <img src="../images/reviewData.png" alt="reviewData" class="project-image" style="height: 300px;">
                <br>
                <img src="../images/movie-app-code.jpg" alt="app codes" class="project-image" style="height: 300px;">
            </div>
            <!-- Description -->
            <div class="description">

                <p>The video above demonstrates how the app can store reviews 
                    from different users for each individual movie in the database. 
                    The app also allows users to add, edit, and remove movies from 
                    the database. 
                    Additionally, reviews can be edited and deleted as needed.
                </p>
                <br>
                <p>
                    This was made using EJS
                </p>
                <br>
                <p>
                    This project taught me the basics of how websites interact with 
                    databases, allowing for live editing within the website. 
                    I also learned the importance of color schemes, as they affect 
                    readability and influence the overall feel of the website, 
                    enhancing the user experience.


                </p>
            </div>
        </section>

    

        <footer>
            <div class="footer-container">
                <a href="contact.html" class="contact-btn">Contact Me</a>
                <br>
                <p class="copyright">Copyright © Enni Sya'nia 2024</p>
            </div>
        </footer>
    </main>

    <script src="/scripts.js"></script>
</body>

</html>