<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Enni Sya'nia - Aspiring Software Engineer Portfolio">
    <title>Enni Sya'nia | Aspiring Software Engineer</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link rel="icon" href="../images/Logo.png" type="image/png">
</head>

<body class="background-design">
    <header>
        <div class="logo">
            <img src="../images/Logo.png" alt="EN">
        </div>
        <nav style="font-weight: bold;">
            <a href="../index.html">Home</a>
            <a href="about.html">About</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <main>

        <div class="divider"></div>

        <section class="project">
            <div>
                <img src="../images/bckgrnd2.png" alt="Project Image 1" class="project-image" >
                <br>
                <img src="../images/Back.png" alt="Project Image 2" class="project-image" >
            </div>
            <!-- Description -->
            <div class="description">
                <h2>Name Card Design</h2>
                <br>
                <p>Time Taken: 1hr | Tools Used: Canva</p>
                <br>
                <p>
                    This name card is something I designed to represent
                    me as a person and the feeling I want to convey to
                    people with whom I want to make connections in my career. This name card was made using Canva, but I
                    used my own layout. I decided to keep the color mostly red, using a yellowish beige to add a pop of
                    color where needed to emphasize certain elements.
                </p>
                <br>
                <p>
                    The front of the name card features a simple layout
                    with my logo in the middle, creating a sense of focus on it and drawing the most attention, as it is
                    balanced right in the center. The back of the card mainly required layout planning, ensuring there
                    were margins within sections to provide some breathing room for better readability.
                </p>
                <br>
                <p>
                    This project taught me how to use color to emphasize
                    what needs emphasis and the importance of layout to
                    ensure readability.
                </p>
            </div>
        </section>
        <div class="divider"></div>



        <footer>
            <div class="footer-container">
                <a href="contact.html" class="contact-btn">Contact Me</a>
                <br>
                <p class="copyright">Copyright © Enni Sya'nia 2024</p>
            </div>
        </footer>
    </main>

    <script src="/scripts.js"></script>
</body>

</html>