<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Enni Sya'nia - Aspiring Software Engineer Portfolio">
    <title>Enni Sya'nia | Aspiring Software Engineer</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link rel="icon" href="../images/Logo.png" type="image/png">
</head>

<body class="background-design">
    <header>
        <div class="logo">
            <img src="../images/Logo.png" alt="EN">
        </div>
        <nav style="font-weight: bold;">
            <a href="../index.html">Home</a>
            <a href="about.html">About</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <main>
        <section class="main-design-section">
            <video controls width="600">
                <source src="../images/Pokemon app demo.mp4" type="video/mp4" class="project-image">
            </video>    
            <h2 id="description" class="description-title">Pokemon Card Database Mobile App</h2>
            <p>This is a mutable mobile database app that stores Pokemon cards with their image and information. </p>
        </section>

        <div class="divider"></div>

        <section class="project">
            <!-- Description -->
            <div class="description">
                <p>Time Taken: 2hr | Tools Used: ReactJS</p>
                <br>

                <p>This video demonstrates a simple database app that stores Pokémon cards by their type. 
                    Each card includes an image and a name, and is categorized according to its type. The 
                    app allows users to add, edit, and delete cards in the database, offering flexibility in
                     managing the cards.
                     </p>
                    <br>
                <p>
                    This project was developed using ReactJS and built as a mobile app. I
                     also used CSS to enhance the visual appearance and improve the overall user 
                     experience. The images used in the app were sourced from publicly available 
                     Pokémon card images found online.
                </p>
                <br>
                <p>
                    Through this project, I gained valuable experience in integrating 
                    images into ReactJS mobile applications. Additionally, I learned how to 
                    enhance database functionality, specifically the ability to add, edit, and delete 
                    records. At the time of building this app, I was still relatively new to app 
                    development, and this project helped me 
                    sharpen my skills in mobile development and database management.

                </p>
            </div>
        </section>

    

        <footer>
            <div class="footer-container">
                <a href="contact.html" class="contact-btn">Contact Me</a>
                <br>
                <p class="copyright">Copyright © Enni Sya'nia 2024</p>
            </div>
        </footer>
    </main>

    <script src="/scripts.js"></script>
</body>

</html>