<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enni Sya'nia | Aspiring Software Engineer</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/images/Logo.png" type="image/png">
</head>
<body class="background-projects">

    <%- include ('partials/navbar.html') %>

    <!-- Main Content -->
    <main>

        <!-- Background and Center Elements -->
        <div class="project-button-sections">
            <!-- Programming Section -->
            <div>
                <a href="/codesProjects" class="project-btn">Programming</a>
            </div>

            <!-- Illustrations Section -->
            <div>
                <a href="/designProjects" class="project-btn">Illustrations</a>
            </div>
        </div>

    </main>

</body>
</html>
