<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Enni Sya'nia - Aspiring Software Engineer Portfolio">
        <title>Enni Sya'nia | Aspiring Software Engineer</title>
        <link rel="stylesheet" type="text/css" href="../styles.css">

        <link rel="icon" href="../images/Logo.png" type="image/png">
    </head>
<body class="background-projects">
    <header>
        <div class="logo">
            <img src="../images/Logo.png" alt="EN">
        </div>
        <nav style="font-weight: bold;">
            <a href="views/index.html">Home</a>
            <a href="views/about.html">About</a>
            <a href="views/projects.html">Projects</a>
            <a href="views/contact.html">Contact</a>
        </nav>
    </header>

    <main class="project-button-sections">
        <div>
            <a href="/codesProjects" class="project-btn">Programming</a>
        </div>
        <div>
            <a href="/designProjects" class="project-btn">Illustrations</a>
        </div>
    </main>
    <script src="script.js"></script>
</body>
</html>