<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Enni Sya'nia - Aspiring Software Engineer Portfolio">
    <title>Enni Sya'nia | Aspiring Software Engineer</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link rel="icon" href="../images/Logo.png" type="image/png">
</head>

<body class="background-design">
    <header>
        <div class="logo">
            <img src="../images/Logo.png" alt="EN">
        </div>
        <nav style="font-weight: bold;">
            <a href="../index.html">Home</a>
            <a href="about.html">About</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <main>
        <section class="main-design-section">
            <video controls width="600">
                <source src="../images/travel list app.mkv" type="video/mp4" class="project-image">
            </video>    
            <h2 id="description" class="description-title">Travel List Website</h2>
            <p>This is a travel list website that help keeps track of items to pack for a trip.</p>
        </section>

        <div class="divider"></div>

        <section class="project">
            <!-- Description -->
            <div class="description">
                <p>Time Taken: 30min | Tools Used: ReactJS</p>
                <br>

                <p>This video showcases a simple travel list app designed to help users keep 
                    track of the items they need to pack. The app allows users to sort the 
                    list by item name, quantity, and packing status. At the bottom of the page, users can see how much 
                    of the list is completed, providing a clear overview of their progress.
                     </p>
                    <br>
                <p>
                    Developed using ReactJS, this project, though simple, gave me the 
                    opportunity to refine my list sorting skills within the context of web 
                    development. Additionally, I learned how to incorporate mathematical
                     calculations into the code to automatically track and display the user's 
                    packing progress, adding convenience and functionality to the app.
                </p>
                <br>

            </div>
        </section>

    

        <footer>
            <div class="footer-container">
                <a href="contact.html" class="contact-btn">Contact Me</a>
                <br>
                <p class="copyright">Copyright © Enni Sya'nia 2024</p>
            </div>
        </footer>
    </main>

    <script src="/scripts.js"></script>
</body>

</html>